<div class="main portfolio">
         <div class="jumbotron slideshow">
            <div class="slideshow-container">
               <div class="slide"> <img alt="Slide01" src="https://dl.dropboxusercontent.com/s/37ed2c6bcf6uuu5/slide-1.jpg?dl=0" /> </div>
               <div class="slide"> <img alt="Slide02" src="https://dl.dropboxusercontent.com/s/uc3c5c3gaclqiig/slide-2.jpg?dl=0" /> </div>
               <div class="slide"> <img alt="Slide03" src="https://dl.dropboxusercontent.com/s/aruokbjjhdajhgs/slide-3.jpg?dl=0" /> </div>
               <div class="slide"> <img alt="Slide04" src="https://dl.dropboxusercontent.com/s/1tdlxv6qv346brf/slide-4.jpg?dl=0" /> </div>
               <div class="slide"> <img alt="Slide05" src="https://dl.dropboxusercontent.com/s/r6wpja91j2hxccc/slide-5.jpg?dl=0" /> </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project01" src="https://dl.dropboxusercontent.com/s/wi7tmgpbheceacy/bass-music.JPG?dl=0" /> </div>
                  <h3>Bass Music</h3>
                  <p>Bass wants a Rails app for their music streaming service. Albums are displayed on the main page. Clicking on an album takes users to a page where they can see an album's track listing.</p>
               </a>
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project02" src="https://dl.dropboxusercontent.com/s/ytzyalo570oo7x5/bolt-network.JPG?dl=0" /> </div>
                  <h3>Bolt Network</h3>
                  <p> Rails app with a Home page and an About page. </p>
               </a>
            </div>
            <div class="row">
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project03" src="https://dl.dropboxusercontent.com/s/3i1zfrzdmsjc6fr/bookmarks.JPG?dl=0" /> </div>
                  <h3>Bookmarks</h3>
                  <p>Books are listed by rank on the main page. Clicking on a book takes users to a page where they can read editorial reviews.</p>
               </a>
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project04" src="https://dl.dropboxusercontent.com/s/jflbgltpuuebl7w/broadway.JPG?dl=0" /> </div>
                  <h3>Broadway</h3>
                  <p>An app to demonstrate request/response cycle on Ruby on Rails</p>
               </a>
            </div>
            <div class="row">
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project05" src="https://dl.dropboxusercontent.com/s/f31atjyab4peuq6/innovation-cloud.JPG?dl=0" /> </div>
                  <h3>Innovation Cloud</h3>
                  <p>Rails app to collect email signups. At the bottom of the page, when a user enters his email, the email is saved into a database.</p>
               </a>
               <a class="col-md-6 project" href="#">
                  <div class="thumbnail-header">
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                     <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail"> <img alt="Project06" src="https://dl.dropboxusercontent.com/s/ruyo4odxezg43xk/threadly.JPG?dl=0" /> </div>
                  <h3>Threadly</h3>
                  <p>Rails app for their commenting service. When a user types a comment into the box and clicks the Post button, the comment is saved into a database. </p>
               </a>
            </div>
         </div>
      </div>

      
     