.main {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.main .container {
    margin: 80px 0;
}

.container {
    padding: 0 200px 0 280px;
    width: 100%;
}

.main h2 {
    color: #000;
    font-size: 48px;
    line-height: 56px;
    text-align: right;
}

.contact .row {
    margin: 80px 0 0;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.linkedin {
    background-image: url('https://dl.dropboxusercontent.com/s/ulj9sf2xnn691me/contact-linkedin.svg?dl=0');
    background-position: center center;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.github {
    background-image: url('https://dl.dropboxusercontent.com/s/f1rl3ks77s0mg5f/contact-git.svg?dl=0');
    background-position: center center;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.twitter {
    background-image: url('https://dl.dropboxusercontent.com/s/qopeluz7v4uxi5e/contact-twitter.svg?dl=0');
    background-position: center center;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.facebook {
    background-image: url('https://dl.dropboxusercontent.com/s/ohpk5bo3l977is5/contact-facebook.svg?dl=0');
    background-position: center center;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.gplus {
    background-image: url('https://dl.dropboxusercontent.com/s/8od6rt761ox8jnj/contact-google.svg?dl=0');
    background-position: center center;
}

.contact .col-md-2 a {
    display: block;
    height: 80px;
    margin: 0 auto 40px;
    text-indent: -9999px;
    width: 80px;
}

.instagram {
    background-image: url('https://dl.dropboxusercontent.com/s/n8ybhpg0o75r44p/contact-instagram.svg?dl=0');
    background-position: center center;
}

